<% content_for :title do %>
<%= @farm.name %> | FoodLove
<% end %>

  <% if flash[:notice] %>
    <div class="col-xs-12"><p><%= flash[:notice] %></p></div>
  <% end %>

<h1><%= @farm.name %></h1>
<h3><center>Location: <%= @farm.location %></center></h3>

<p class="toggle" id="message_but">Send a Message</p>
<div id="message">
<%= form_for :message, :url => message_farm_path(@farm) do |f| %>
<%= f.hidden_field :user, :value => current_user.id %>
<p><%= f.text_area :message %></p>
<p><%= f.submit "Send" %></p>
<% end %>
</div>

<% if order_on? %>
  <p><%= link_to "Return to Order Page", edit_buyer_order_path(current_user,current_order) %></p>
<% else %>
  <p><%= link_to "Back", edit_user_path(current_user) %></p>
<% end %>

<p><small>click on category titles to see/hide products</small></p>
<% @lastcat = nil %>
<% @lastpro = nil %>
<% @rowct = 1 %>

<div class="row">
<div class="col-xs-4">
<h2 class="toggle" id="feat_but"}>~ Featured ~</h2>
<div id="feat">
<ul>

<% @farm.products.sort_by{|p| [p.available? ? 0:1, p.feature ? 0:1, p.name]}.each do |p| %>
  <% if p.feature %>
  <li><%= link_to "#{p.name}", farm_product_path(@farm, p) %></li>
  <% else %>
  <% break %>
  <% end %>
<% end %>

<% @farm.products.sort_by{|p| [p.category, p.available? ? 0:1,
                                p.name, p.price]}.each do |pro| %>
  <% if pro.available? %>
  <% if pro.category == @lastcat %>
    <% if pro.name != @lastpro %>
      </ul>
      <li><%= link_to "#{pro.name}", farm_product_path(@farm,pro) %></li>
      <% @lastpro = pro.name %>
        <ul>
	  <li><%= pro.unit %> 
	    <% if order_on? %>
              <%= link_to "Add", add_product_buyer_order_path(current_user,current_order,pro)%>
            <% end %></li>
    <% else %>
      <li><%= pro.unit %>
	<% if order_on? %>
           <%= link_to "Add", add_product_buyer_order_path(current_user,current_order,pro)%>
        <% end %></li>
    <% end %>
  <% else %>
    </ul>
    </div>
    </div>
    <% if @rowct%3 == 0 %>
    </div>
    <% end %>

    <% @lastcat = pro.category %>
    <% @lastpro = pro.name %>
    <% if @rowct%3 == 0 %>
    <div class="row">
    <% end %>
    <div class="col-xs-4">
      <h2 class="toggle" id="<%= pro.category.tr(" ","_") %>_but"><%= pro.category %></h2>
      <div id="<%= pro.category.tr(" ", "_") %>">
        <% @rowct+=1%>
      <ul>
        <li><%= link_to "#{pro.name}", farm_product_path(@farm, pro) %></li>
	<ul>
	  <li><%= pro.unit %>
            <% if order_on? %>
              <%= link_to "Add", add_product_buyer_order_path(current_user,current_order,pro)%>
            <% end %></li>
  <% end %>
  <% end %>
<% end %>
</ul>
</div>
</div>
</div>







<script>

$(document).ready(function(){
  <% @categories.each do |c| %>
    $(<%= c %>).hide();
    $(<%= c %>_but).click(function(){
      $(<%= c %>).toggle();
    });
  <% end %>
 
  $(feat).hide();
  $(feat_but).click(function(){
    $(feat).toggle();
  });

  $(message).hide();
  $(message_but).click(function(){
    $(message).toggle();
  });

});
</script>
