<h1><%= @distributor.name %></h1>

<p class="toggle" id="edit_but">Edit Account</p>
<div id="edit">
<%= form_for @distributor do |f| %>
  <p><%= f.label :name %><%= f.text_field :name %></p>
  <p><%= f.label :email %><%= f.text_field :email %></p>
  <p><%= f.submit %></p>
<% end %>
<p><%= link_to "Delete Account", user_path(@distributor), method: :delete, data: {confirm: "Are you sure?"} %></p>
</div>

<div class="row">
<div class="col-xs-6">
<h2>Orders</h2>
<ul>
  <% @orders.each do |o| %>
    <% if DateTime.now.days_ago(7) < o.placed %>
       <li><%= link_to "#{o.name}", buyer_order_path(o.buyer_id, o) %> From <%= Buyer.find(o.buyer_id).name %>
           <%= link_to "Dismiss", dismiss_order_distributor_path(@distributor, o), method: :delete, data: {confirm: "Are you sure?"} %></li>
    <% end %>
  <% end %>
</ul>
</div>

<div class="col-xs-6">
<h2>My Farms</h2>
<p><%= link_to "Print My Farm Product Lists", printall_distributor_path(@distributor), method: :post %></p>

<ul>
  <% @farms.sort_by{|f| [f.name.downcase]}.each do |farm| %>
    <li><%= link_to "#{farm.name}", farm_path(farm) %> | 
        <%= link_to "Remove", remove_farm_distributor_path(@distributor, farm), method: :delete, data: {confirm: "Are you sure?"} %></li>
    <% if farm.notifications != nil %>
        <ul>
          <% farm.notifications.each do |n| %>
          <% if DateTime.now.days_ago(7) < n.created_at %>
             <li><%= n.notif %></li>
          <% end %>
          <% end %>
        </ul>
    <% end %>
  <% end %>
</ul>

<p><%= link_to "Add A Farm", add_farm_distributor_path(@distributor), method: :get %></p>
</div>
</div>

<script>
$(document).ready(function(){
    $(edit).hide();

    $(edit_but).click(function(){
        $(edit).toggle();
    });


});
</script>
