<h1><%= @order.name %></h1>
<h2><%= link_to @buyer.name, buyer_path(@buyer) %></h2>

<table class="table">
<tr>
  <th>Product</th>
  <th>Unit</th>
  <th>Price</th>
  <th>Quantity</th>
</tr>
<% @tot_p = BigDecimal.new(0) %>
<% @lf = nil %>
<% @products.sort_by{|p| [p.farm_id, p.name]}.each do |p| %>
  <% if @farm != nil && p.farm_id == @farm.id %>
    <tr>
      <% @quantity = @order.quantities.find_by(product_id: p.id) %>
      <td><%= p.name %></td>
      <td><%= p.unit %></td>
      <td><%= number_to_currency(p.price) %></td> <% @tot_p += p.price*@quantity.quant %>
      <td><%= @quantity.quant %></td>
    </tr>
  <% elsif @dist != nil %>
    <% if @lf != p.farm_id %>
      <tr><td><strong><%= Farm.find(p.farm_id).name %></strong></td></tr>
      <% @lf = p.farm_id %>
    <% end %>
    <tr>
      <% @quantity = @order.quantities.find_by(product_id: p.id) %>
      <td><%= p.name %></td>
      <td><%= p.unit %></td>
      <td><%= number_to_currency(p.price) %></td> <% @tot_p += p.price*@quantity.quant %>
      <td><%= @quantity.quant %></td>
    </tr>
  <% end %>
<% end %>
<tr>
  <td><strong>Total:</strong></td>
  <td></td>
  <td><%= number_to_currency(@tot_p) %></td>
</tr>
</table>
