<h1>Add A Farm Near Me</h1>
<p><%= link_to "Back", edit_user_path(current_user) %></p>
<div class="row">
<div class="col-xs-6 col-xs-offset-3">
<ul>
  <% @nearfarms.each do |f| %>
    <li><%= f.name %>: <%= f.distance_to(current_user).round(2) %> miles, 
	<%= link_to "Add", new_farm_buyer_path(@buyer,f), method: :post %></li>
  <% end %>
</ul>
  <% if @nearfarms[0] == nil %>
    <p>There are no other farms within a 50 mile radius of your location: <%= @buyer.location %>.</p>
  <% end %>
</div>
</div>
