<% content_for :title do %>
Add a Product | FoodLove
<% end %>

<h1>Add a Product</h1>
<p><%= link_to "Back", farm_products_path(@farm) %></p>

  <%= form_for([@farm, @farm.products.build]) do |f| %>
    <p><%= f.label :name %> <%= f.text_field :name %></p>
    <p><%= f.label :unit %> <%= f.text_field :unit %></p>
    <p><%= f.label :price %> <%= f.text_field :price, data: {role: 'money', a_sep: ',', a_dec: '.'} %></p>
    <p><%= f.label :quantity %> <%= f.number_field :quantity %></p>
    <p><%= f.label :category %> <%= f.text_field :category %></p>
    <p><%= f.label :description %> <%= f.text_area :description %></p>
    <p><%= f.label :notes %> <%= f.text_area :notes %></p>
    <p><%= f.label :feature %> <%= f.check_box :feature %></p>
    <p><%= f.submit %></p>
  <% end %>


