<% content_for :title do %>
<%= @product.name %> | <%= @farm.name %> | FoodLove
<% end %>

<h1><%= @product.name %></h1>

<% if current_user == @farm %>
<p><%= link_to "Edit", edit_farm_product_path(@farm,@product) %></p>
<% else %>
<h2><%= link_to @farm.name, farm_path(@farm) %></h2>
<% end %>

<div class="col-xs-6 col-xs-offset-3">
<p><strong>Category:</strong> <%= @product.category %></p>
<p><strong>Description: </strong><%= @product.description %></p>
<p><strong>Notes This Week: </strong><%= @product.notes %></p>
</div>

<table class="table">
  <tr>
    <th>Unit</th>
    <th>Price</th>
    <th>Available Quantity</th>
    <% if logged_in? && current_user.type == "Buyer" %>
      <th>Add to Order</th>
    <% end %>
  </tr>

  <% @pros.each do |p| %>
    <tr>
      <td><%= p.unit%></td>
      <td><%= number_to_currency(p.price) %></td>
      <td><%= p.quantity %></td>
      <% if logged_in? && current_user.type == "Buyer" && order_on? %>
        <td><%= link_to "Add", add_product_buyer_order_path(current_user, current_order, p) %></td>
      <% elsif logged_in? && current_user.type == "Buyer" %>
        <%= form_for :order, :url =>  add_prod_buyer_path(current_user, p) do |form|%>
        <td><%= form.select :order, current_user.orders %><%= form.submit %></td>
	<% end %>
      <% end %>
    </tr>
  <% end %>

</table>

